[Unit]
Description=Rain OS Live Desktop Setup
Before=sddm.service display-manager.service systemd-user-sessions.service getty@tty1.service
After=local-fs.target systemd-sysusers.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rain-live-setup
RemainAfterExit=yes

[Install]
WantedBy=basic.target
